<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greg Smith</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
<div class="splash-container">
    <div class="splash">
        <b>
        	Hey, I'm Greg Smith.
        </b>
        <p>I'm interested in web development, automation, voice acting, and designing smooth solutions to any problem.</p>
        <p>I enjoy working with python and Flask.</p>
    </div>
</div>
</body>
</html>